<header>
  <div class="header-container width-container">
    <h1 class="header-title"><a href="/">Members Only</a></h1>
    <nav class="header-nav">
      <ul class="nav-list">
        <% if (locals.user) { %>
        <li class="nav-item"><%= locals.user.username %></li>
        <li class="nav-item"><a href="#">Log Out</a></li>
        <% } else { %>
        <li class="nav-item"><a href="/sign-up">Sign Up</a></li>
        <li class="nav-item"><a href="/log-in">Log in</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
