<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <div class="posts-container width-container">
        <h2 class="posts-title">Recent Posts:</h2>
        <div class="posts">
          <% if(posts) { %>
          <p>Heyyy posts</p>
          <% } else { %>
          <p>No Posts...</p>
          <p>Add something new!</p>
          <% } %>
        </div>
      </div>
    </main>
    <%- include('footer') %>
  </body>
</html>
