<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <div class="width-container">
        <h1>Members Only</h1>
        <nav>
          <ul>
            <li><a href="/sign-up">Sign Up</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="width-container">
        <h2>Recent Posts:</h2>
        <div>
          <% if(posts) { %>
          <p>Heyyy posts</p>
          <% } else { %>
          <p>No Posts...</p>
          <p>Add something new!</p>
          <% } %>
        </div>
      </div>
    </main>
    <footer>
      <div class="width-container">
        <p>placeholder text</p>
      </div>
    </footer>
  </body>
</html>
