<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <div class="form-container width-container">
        <h1 class="main-title">Log In</h1>
        <form action="/log-in" method="POST">
          <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" />
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" />
          </div>
          <button type="submit">Log In</button>
        </form>
      </div>
    </main>
    <%- include('footer') %>
  </body>
</html>
